﻿@model AkronikASP.Models.RegisterViewModel
@{
    ViewBag.Title = "S'inscrire";
}

<div id="login_container" class="ui center aligned grid container">
    <div class="six wide column ">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "ui form segment form_signup", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Nouveau compte</h4>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="field">
                <label>Prenom</label>
                 @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="field">
                <label>Nom</label>
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
            <div class="field">
                <label>Pseudonyme</label>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>
            <div class="field">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="field">
                <label>Mot de passe</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="field">
                <label>Confirmer le mot de passe</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>

            <input type="submit" class="ui orange button" value="S’inscrire" />
            <div class="ui error message"></div>
        }
    </div>
</div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
