﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Akronik</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="ui menu" id="menu_principale">
        <div class="item"><a href="/"><img id="logo_menu_principale" src="~/Content/images/akronik.png"></a></div>
        <div class="item">

            @using (Html.BeginForm("Rechercher", "Texte", FormMethod.Post, new { @class = "ui form segment form_signup", role = "form" }))
            {
            <div class="ui icon input">
                @Html.TextBox("Recherche")
                <i class="inverted circular search link icon"></i>
            </div>
            }

            @if (Request.IsAuthenticated)
            {
              <a href="/Texte/Redaction" class="ui orange button" id="actionTexteMenu">Créer votre histoire</a>
            }
        </div>
        <div class="right menu item">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>      


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
        <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function ()
        {
            tinymce.init(
                {
                    selector: 'textarea',
                    height: 300
                });
        });
        </script>
        @RenderSection("scripts", required: false)
</body>
</html>