﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink("Bonjour " + User.Identity.GetUserName() + "!",
        "Index",
        "Manage",
        routeValues: null,
        htmlAttributes: new { title = "Manage", @class = "ui blue button" })
        <a href="javascript:document.getElementById('logoutForm').submit()" class="ui red button">Log off</a>         
    }
}
else
{  
    <a class="item" href="@Url.Action("Login", "Account")"><div class="ui primary button">Se connecter</div></a>
    <a class="item" href="@Url.Action("Register", "Account")"><div class="ui orange button">S'incrire</div></a>
}
