﻿@model AkronikASP.ViewModels.TexteViewModels
@{ 
    ViewBag.Title = "Texte";
}
<div class="five wide column apercu_cadre">
    <div class="ui card">
        <div class="content">
            <div class="header">@Model.Titre</div>
            <div class="meta">
                <span class="category">@Model.NomAuteur @Model.PrenomAuteur</span>
            </div>
            <div class="description">
                <p>@Html.Raw(@Model.Contenu)
                </p>
            </div>
        </div>
        <div class="extra content">
            <span class="left floated like">
                @{
                    for (int i = 0; i < Model.Note; i++)
                    {
                        <i class="like icon"></i>
                    }
                } 
            </span>
            <span class="right floated star">
                @Model.NomTag
            </span>
        </div>
    </div>
</div>
