﻿@model AkronikASP.ViewModels.ListeTexteViewModels
@{
    ViewBag.Title = "Liste Textes";
}

<div class="ui centered grid" id="content_index">
    <div class="row">
    @{ 
        for(int i = 0; i < @Model.ListeTextes.Count ; i++)
        {
            @Html.Partial("CadreTexte", @Model.ListeTextes[i]);
        }
    }
    </div>
    <div class="row">
        <div class="ui pagination menu">
            @{
                for (int i = 0; i < Model.NombrePage; i++)
                {
                    int page = i + 1;
                    if (Model.PageCourante == page)
                    {
                        @Html.ActionLink("" + page,
                            "Index",
                            "Texte",
                            new { page = (i+1)},
                            htmlAttributes: new {@class = "item active"})
                    }
                    else
                    {
                       @Html.ActionLink("" + page,
                          "Index",
                          "Texte",
                          new { page = (i + 1) },
                        htmlAttributes: new { @class = "item" })
                    }

                }
            }
        </div>
    </div>
</div>