﻿@model AkronikASP.ViewModels.TexteViewModels
@{
    ViewBag.Title = "Redaction";
}

@using (Html.BeginForm("AjoutTexte", "Texte", FormMethod.Post, new { @class = "ui form segment form_signup", role = "form" }))
{
    <div class="eleven wide column">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h1>Rédaction</h1>
        Titre
        @Html.TextBoxFor(m => m.Titre, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Titre, "", new { @class = "text-danger" })

        @Html.TextAreaFor(m => m.Contenu, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Contenu, "", new { @class = "text-danger" })
        <br/>
        Tag
        @Html.TextBoxFor(m => m.NomTag, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NomTag, "", new { @class = "text-danger" })
        Note (/5)
        @Html.TextBoxFor(m => m.Note, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
        <input type="submit" class="ui orange button" value="Ajouter votre histoire" />
    </div>
}

