﻿body {

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#logo_menu_principale
{    
    height: auto; 
   width: auto; 
   max-width: 200px; 
   max-height: 200px;
}

#menu_principale
{
    background-color: rgb(27,28,29);
    margin-bottom: 0;
}

<<<<<<< e21b5fb1652594ccdb50a738b1346ba4e750b902
.apercu_cadre
{
    margin: 10px;
    padding: 50px;
}

#content_index
{
    margin-top: 100px;
    min-height: 400px;
}
.gradientlog
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ff7f04+22,ff7f04+75&0.98+0,0.54+100 */
    background: -moz-linear-gradient(45deg,  rgba(255,183,107,0.98) 0%, rgba(255,127,4,0.88) 22%, rgba(255,127,4,0.65) 75%, rgba(255,127,4,0.54) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(255,183,107,0.98) 0%,rgba(255,127,4,0.88) 22%,rgba(255,127,4,0.65) 75%,rgba(255,127,4,0.54) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(255,183,107,0.98) 0%,rgba(255,127,4,0.88) 22%,rgba(255,127,4,0.65) 75%,rgba(255,127,4,0.54) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faffb76b', endColorstr='#8aff7f04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#login_container
{
    margin-top:10%;
}

a#actionTexteMenu
{
    margin-left:15%;
    width:250px;
}

#actionTexteMenu
{
    margin-left:15%;
    width:250px;
}